<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Webpage</title>
</head>
<body>
<!--    <nav>-->
<!--        <a href="/about/">About</a>-->
<!--        <a href="/contact-us/">Contact Us</a>-->
<!--        <a href="/store/">Store</a>-->
<!--    </nav>-->
<!--    <h1>Welcome</h1>-->
<!--    <h2>This is our webpage</h2>-->
<!--    <p>Hello, this is our first page</p>-->
<!--    <img src="{{url_for('static', filename='Zhe Tian Driver License_2.jpg')}}" style="width:500px">-->
<!--    <br>-->
<!--    <br>-->
<!--    <a href="https://www.google.com">Google Page</a>-->
    <H1>API Data</H1>
    <p>URL Format: http://127.0.0.1:5000/api/v1/station/temperature</p>
    <p>URL Example: http://127.0.0.1:5000/api/v1/10/1988-10-25</p>
</body>
</html>